@import "../base-scss/variables";
@import "../base-scss/mixins";

.Contact {
  @include page-layout();
  padding-bottom: 40px;

  h1 {
    color: $azure;
  }

  a {
    text-decoration: none;
    color: $snow;
  }

  a:hover {
    color: $fieryRose;
  }
}

.form-btn-primary {
  margin-top: 10px;
}
