@import '../base-scss/variables';
@import '../base-scss/mixins';

.Home {
  @include page-layout();
}

.hero-logo {
  height: 46vh;
}

.hero-title-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 46vh;
  text-align: center;
  width: 90%;
}

// .hero-title-container {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   text-align: center;
// }

.arrow-down-row {
  @include arrow-down();
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

.typewriter-title {
  color: $snow;
  font-size: 38px;
  text-align: center;
}

.typewriter-cursor {
  color: $snow;
  font-size: 38px;
  opacity: 50%;
  animation: blinkingCursor 1s;
  animation-iteration-count: infinite;
}

//desktop
@media (min-width: 768px) {
  .typewriter-cursor, .typewriter-title {
    font-size: 62px;
  }
}

//tablet
@media (min-width: 576px) and (max-width: 768px) {

}

//phone
@media (max-width: 576px) {
  .typewriter-cursor, .typewriter-title {
    font-size: 36px;
  }
}

@keyframes blinkingCursor {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 50%;
  }
}