@import '../base-scss/variables';
@import '../base-scss/mixins';

.Home {
  @include page-layout();
  color: $snow;
}

.hero-logo {
  margin-top: 4vh;
}

.hero-title {
  color: $snow;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-hero-div {
  display: flex;
}

.music-hero-guitarist {
  margin-left: 10px;
}

.arrow-down {
  @include arrow-down();
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

// .typewriter-title {
//   color: $snow;
//   font-size: 40px;
//   text-align: center;
// }

// .typewriter-cursor {
//   color: $snow;
//   font-size: 40px;
//   opacity: 50%;
//   animation: blinkingCursor 5s;
// }