@import "../base-scss/variables";
@import "../base-scss/mixins";

.Projects {
  @include page-layout();
}

.project-list {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.project {
  background-color: $snow;
  border-radius: 4px;
  margin: 10px;
  width: 360px;
}

.project-title {
  color: $eerieBlack;
  font-size: 24px;
  padding-top: 10px;
  margin: 0;
}

.project-img {
  margin: 20px 0 10px 0;
}

.project-button {
  text-decoration: none;
  text-align: left;

  p {
    color: $azure;
    font-size: 18px;
  }
}

.project-modal {
  a {
    color: $azure;
  }
}

.project-modal-title {
  font-family: $globalFontFamily;
  font-size: 32px;
}

.modal-img {
  margin-bottom: 10px;
}
