@import '../base-scss/variables';
@import '../base-scss/mixins';

.Projects {
  @include page-layout();
  color: $eerieBlack;
}

.Card {
  width: 25vw;
  height: 50vh;

  a {
    color: $azure;
  }
}

.card-deck {
  padding-top: 25vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-img {
  padding: 0;
  margin: 0;
  border: none;
}

// .card-title {
// }

.card-text {
    color: $eerieBlack;
    opacity: 100%;
    font-size: 16px;
    margin-left: -15px;
}