@import '../base-scss/variables';
@import '../base-scss/mixins';

.Resume {
  @include page-layout();
}

.Carousel {
  height: 92vh;
  display: flex;
  align-items: center;

  strong {
    color: $fieryRose;
  }
}

.Carousel-Item {
  padding: 0px 30px;

  h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 15px;
  }

  p, h5, li {
    font-size: 14px;
  }

  ul {
    padding-left: 12px;
  }

  
}

.Carousel-Info {
 padding-top: 0px;
 padding-bottom: 0px;
 margin-top: -10px;
}

.about-imgs {
  display: flex;
  justify-content: center;
}

.resume-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  margin: 10px;
}

.Carousel-Title {
  text-align: center;
  padding: 5px 0px;
  color: $azure;
}