@import '../base-scss/variables';
@import '../base-scss/mixins';

.Stack {
  @include page-layout();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.stack-list {
  height: 92vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: cadetblue;
}

.stack-Container {
  height: 140px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.stack-img {
  width: 60px;
  height: 70px;
}

.stack-title {
  font-size: 12px;
}

p {
  padding: 0;
  margin: 0;
}