@import '../base-scss/variables';
@import '../base-scss/mixins';

.Stack {
  @include page-layout();
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.stack-list {
  height: 92vh;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.stack-Container {
  height: 140px;
  width: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px;
}

.stack-img {
  width: 60px;
  height: 60px;
}

.stack-title {
  font-size: 12px;
  opacity: 50%;
}

p {
  padding: 0;
  margin: 0;
}

//desktop
@media (min-width: 768px) {
  .stack-Container {
    height: 170px;
    width: 170px;
  }
  
  .stack-img {
    width: 100px;
    height: 110px;
  }

  .stack-title {
    font-size: 22px;
  }
}

//tablet
@media (min-width: 576px) and (max-width: 768px) {
  .stack-Container {
    height: 200px;
    width: 150px;
  }

  .stack-img {
    width: 100px;
    height: 100px;
  }

  .stack-title {
    font-size: 20px;
  }
}

//phone
@media (max-width: 576px) {
  .stack-Container {
    height: 100px;
    width: 70px;
  }

  .stack-img {
    width: 50px;
    height: 50px;
  }

  .stack-title {
    font-size: 12px;
  }
}