@import '../base-scss/mixins';
@import '../base-scss/variables';

.App {
  background-color: $eerieBlack;
  font-family: $globalFontFamily;
  color: $snow;
}

.PageDots {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  right: 0;
  top: 45%;
  width: 20px;
  padding: 0;
}