@import '../base-scss/variables';

@mixin arrow-down {
    color: $snow;
    position: relative;
    opacity: 60%;
    animation: bounce 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-bottom: 2vh;
  
  @keyframes bounce {
    0% {
      bottom: 60px;
      opacity: 0%;
    }

    80% {
      opacity: 60%;
    }
  
    100% {
      opacity: 60%;
      bottom: 0px;
    }
  }
}

@mixin page-layout {
  // width: 100%;
  // height: 100%;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: space-between;
  // position: relative;
}