@import '../base-scss/variables';

@mixin arrow-down {
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .arrow-down {
    opacity: 60%;
    animation: bounce 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  
  @keyframes bounce {
    0% {
      margin-bottom: 3vh;
      opacity: 0%;
    }
  
    100% {
      margin-bottom: -3vh;
      opacity: 60%;
    }
  }
}

@mixin page-layout {
  width: 100vw;
  // height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  // position: relative;
}