@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);

$royalBlueDark1: #0a2463;
$snow: #ffffff;
$azure: #357ded;
$fieryRose: #f45b69;
$royalBlueDark2: #001c55;
$eerieBlack: #161618;
$greenPantone: #00af54;

$globalFontFamily: 'Josefin Sans', Arial, Helvetica, sans-serif;